<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="XuanShine">

  <title>Hotel Panorama - Prix</title>

  <!-- Bootstrap Core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">



</head>


<body>
    <ul>
        <li><a href='/'>WebSite Hotel</a>
        <li><a href='/ajuster_prix'>Résumer des réservations avec un fichier xls</a>
        <li><a href='/prix'>Changer les prix</a>
    </ul>
</body>

</html>
