<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="XuanShine">

  <title>Hotel Panorama - Prix</title>

  <!-- Bootstrap Core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/bootstrap-datetimepicker.css" rel="stylesheet">



</head>


<body>
    <div id='app' class='container'>
        <form class='form-control'>
            <table class='table'>
                <tr>
                    <td><input type='date' v-model='date'>
                    <td>Eco
                    <td>Balcon
                <tr v-for='room in type_room'>
                    <td>{{ room.name }}
                    <td><input v-model='room.eco'><button><i class='fa fa-refresh' aria-hidden="true"></i></button>
                    <td><input v-model='room.balcon'><button><i class='fa fa-refresh' aria-hidden="true"></i></button>
            </table>
            <input type='submit' @click='prevent'>
        </form>

        <pre>
            {{ $data }}
        </pre>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js'></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js" charset="utf-8"></script>
    <script src="js/price.js" charset="utf-8"></script>
</body>
</html>
